.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 280px;

  @media (max-width: $desktop-width) {
    padding: 0 45px;
  }

  @media (max-width: $tablet-width) {
    padding: 0 16px;
  }
}
