.croquet {
  background-color: #fcf9ed;
}

.croquet__container {
  padding-top: 130px;
  padding-bottom: 130px;

  @media (max-width: $tablet-width) {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}
