.page-footer {
  background-color: #267435;
  color: #ffffff;
}

.page-footer__container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 45px;

  @media (max-width: 1024px) {
    flex-direction: column;
  }

  @media (max-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 41px;
  }
}

.page-footer__left {
  width: 23.16%;
  margin-right: 10%;

  @media (max-width: 1300px) {
    width: 19.16%;
    margin-right: 4%;
  }

  @media (max-width: 1024px) {
    width: 100%;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a {
    display: flex;
    margin-bottom: 46px;
  }

  span {
    min-height: 25px;
    display: flex;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 40px;

    a {
      margin-bottom: 11px;
    }

    svg {
      width: 190px;
      height: 56px;
    }

    span {
      @include font(14,18);
      min-height: unset;
    }
  }
}
