.products {
  @include font(22,29);
  padding-bottom: 90px;

  @media (max-width: 1450px) {
    @include font(20,25);
  }

  @media (max-width: 1340px) {
    @include font(18,22);
  }

  @media (max-width: 1240px) {
    @include font(16,20);
  }

  @media (max-width: $desktop-width) {
    @include font(17,22);
  }

  @media (max-width: $tablet-width) {
    @include font(16,21);
  }
}

.products__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.products__card {
  @include not-hover;
  width: 31.39%;
  min-height: 486px;
  background-color: #ffffff;
  border-radius: 40px;
  margin-bottom: 40px;
  margin-right: 2.9%;

  @media (max-width: $desktop-width) {
    width: 45.7%;
    margin-right: 8.56%;

    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }

  @media (max-width: $tablet-width) {
    width: 47.56%;
    margin-right: 4.87%;
    margin-bottom: 16px;
    min-height: 351px;
  }

  @media (min-width: 1025px) {
    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }


  @media (min-width: 1025px) {
    &:hover {
      @include hover;

      img {
        height: 251px;
        margin-top: 33px;
        transform: scaleX(0.86);
      }

      p {
        margin-top: 57px;
      }

      .products__button {
        display: flex;
      }
    }
  }

  a {
    text-decoration: none;
  }

  img {
    display: block;
    margin: 40px auto 0;

    @media (max-width: $tablet-width) {
      width: 116px;
      height: 120px;
      margin-top: 20px;
    }
  }

  p {
    color: #3f3f3f;
    min-height: 58px;
    margin: 64px 24px 0;
    text-align: start;

    @media (max-width: $desktop-width) {
      margin-top: 20px;
    }

    @media (max-width: $tablet-width) {
      margin: 28px 16px 0;
      min-height: 105px;
    }
  }
}

.products__button {
  @include not-hover;
  width: 88.75%;
  padding: 15px 0;
  color: #336f3f;
  box-shadow: inset 0 0 0 1px #336f3f;
  margin: 16px auto 0;
  align-items: center;
  justify-content: center;
  display: none;

  @media (max-width: $desktop-width) {
    display: flex;
    margin-top: 10px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 16px;
    width: 79.48%;
  }
}
