.promotion {
  background-color: #f8f0d4;
  position: relative;
  overflow: hidden;
}

.promotion__container {
  padding-top: 130px;
  padding-bottom: 130px;

  @media (max-width: $tablet-width) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  h2 {
    @include font(60,54);
    font-family: "CirceRounded", "Arial", sans-serif;
    font-weight: 400;
    margin: 0 0 40px;

    @media (max-width: $tablet-width) {
      @include font(38,38);
    }
  }
}

.promotion__slider-container {
  position: relative;
}

.promotion__slider {
  @include list-reset;
  display: flex;
}

.promotion__link {
  text-decoration: none;

  img {
    display: block;

    @media (max-width: $tablet-width) {
      width: 260px;
      height: 156px;
    }
  }
}

.promotion__slide {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 380px;
  min-height: 328px;
  margin-right: 24px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    width: 260px;
    min-height: 304px;
  }
}

.promotion__description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  h4 {
    @include font(22,26);
    font-weight: 800;
    margin: 16px 0 8px;

    @media (max-width: $tablet-width) {
      @include font(18,22);
    }
  }

  p {
    margin: 0;

    @media (max-width: $tablet-width) {
      margin-bottom: auto;
    }
  }
}

.promotion__button {
  @include not-hover;
  display: none;

  @media (max-width: $tablet-width) {
    box-shadow: inset 0 0 0 1px #336f3f;
    color: #336f3f;
    display: flex;
    padding: 15px 32px;
    width: 146px;
    margin-top: 8px;
  }
}

.promotion__slider-controls {
  display: flex;
  justify-content: space-between;
  width: 148px;
  position: absolute;
  right: 0;
  top: -88px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.promotion__slider-btn {
  @include not-hover;
  width: 70px;
  height: 48px;
  border-radius: 8px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    @include hover;
    background-color: #fcf9ed;
  }
}

.swiper-button-disabled {
  opacity: 0.4;

  svg {
    stroke: #3f3f3fb3;

    &:hover {
      stroke: #3f3f3f;
    }
  }

  &:hover {
    opacity: 1;
  }
}
