.site-nav__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.site-nav__item {
  margin-right: 60px;

  &:last-child {
    margin-right: 0;
  }

  a {
    text-decoration: none;
    display: flex;
    padding: 24px 0;
  }
}


.site-nav__toggle {
  display: none;
}
