.site-nav {
  @media (max-width: $tablet-width) {
    display: none;
    width: 100%;
  }
}

.site-nav__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.site-nav__item {
  margin-right: 60px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: 850px) {
    margin-right: 40px;
  }

  a {
    @include not-hover;
    display: flex;
    padding: 12px 0;
    text-decoration: none;
    position: relative;

    @media (min-width: 1025px) {
      &:hover {
        @include hover;
        color: #fbec51;
        margin-top: -5px;

        &::after {
          @include pseudo-elem;
          background-image: url("../img/svg/icon-active-menu.svg");
          background-repeat: no-repeat;
          width: 55px;
          height: 8px;
          bottom: 7px;
        }
      }
    }
  }

  @media (max-width: $tablet-width) {
    margin-right: 0;
    margin-bottom: 16px;

    a {
      @include font(32,32);
    }
  }
}

.page-header__nav-toggle {
  background-image: url("../img/svg/icon-white-burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  border: 0;
  outline: 0;
  background-color: transparent;
  display: none;

  @media (max-width: $tablet-width) {
    display: flex;
  }
}
