.socials-list {
  @include list-reset;
  display: flex;
  margin-right: 20px;

  @media (max-width: $tablet-width) {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

.socials-list__item {
  margin-right: 40px;

  @media (max-width: 1500px) {
    margin-right: 20px;
  }

  &:last-child {
    margin-right: 0;
  }

  a {
    display: flex;
    width: 32px;
    height: 32px;
  }

  @media (max-width: $tablet-width) {
    margin-right: 40px;
  }
}
